data type in python

In [1]:
numric=('int,float,complex,string,bool')
numric

'int,float,complex,string'

In [2]:
# int 
m = 98
print(m,type(m))

98

In [3]:
# float
h=45.56
print(h,type(h))

45.56 <class 'float'>

In [5]:
# complex
f=(67+45j)
print(f,type(f))

(67+45j) <class 'complex'>

In [6]:
# string
l=('mandar')
print(l,type(l))

mandar <class 'str'>

In [7]:
print(m,f,numric,l,h)

98 (67+45j) int,float,complex,string mandar 45.56

In [8]:
print(numric)
print(m)
print(l)
print(f)
print(h)

int,float,complex,string
98
mandar
(67+45j)
45.56

In [9]:
# bool
a=78
b=90
print(a>b)

False

In [10]:
b=67
g=78
print(b<g)

True

In [11]:
y=True
print(y)

True

In [12]:
t=true
print(t)

NameError: name 'true' is not defined

In [13]:
h=False
print(h)

False

In [14]:
r=false
print(r)

NameError: name 'false' is not defined

In [15]:
h=77
j=3
print(h//j)

25

string

In [16]:
m= 'naresh it technology'
print(m)

naresh it technology

In [17]:
m1='naresh it technology'
print(m1)

naresh it technology

In [18]:
m2='''naresh it 
technology'''
print(m2)

naresh it
technology

In [19]:
m3='narsh it
technology'
print(m3)

SyntaxError: unterminated string literal (detected at line 1) (1837792686.py, line 1)

In [26]:
m4='narsh it '
print(m4)

narsh it

In [23]:
for i in m4:
    print(i)

n
a
r
s
h

i
t

In [32]:
m='mandar jadhav'
print(m[4])

a

In [33]:
print(m[1:6])

andar

In [34]:
print(m[0:12])

mandar jadha

In [35]:
print(len(m))

13

In [36]:
l='right index and wrong index'
print(l,len(l),l[-2:4])

right index and wrong index 27

In [37]:
s='nareshit'
print(s,len(s))

naresh it 9

In [43]:
s4='nareshit'
print(s4[5:1])

In [49]:
s4='nareshit'
print(s4[-7:6])

aresh

In [57]:
s4='nareshit'
print(s4[0:7:2])

nrsi

In [55]:
s4='nareshit'
print(s4[0:6:3])

ne

In [60]:
s4='nareshit'
print(len(s4))
print(s4[0:8:5])

8
nh

In [61]:
raudo='''all india is my country all indians are my brother and sisters'''
print(len(raudo))

62

In [64]:
raudo='''all india is my country all indians are my brother and sisters'''
print(len(raudo))
print(raudo[5:9:1])

62
ndia

In [69]:
print(raudo[5:56])

ndia is my country all indians are my brother and s

In [75]:
print(raudo[-1:-9])

In [63]:
for i in raudo:
    print(i)

a
l
l

i
n
d
i
a

i
s

m
y

c
o
u
n
t
r
y

a
l
l

i
n
d
i
a
n
s

a
r
e

m
y

b
r
o
t
h
e
r

a
n
d

s
i
s
t
e
r
s

In [76]:
english=('a b c d  e f g h i j k l m n o p q r s t u v w x y z')
print(len(english))

52

In [79]:
english=('a b c d e g f g h i j k l m n o p q r s t u v w x y z' )
print(english[-7:1])

In [78]:
print(english[-5:1])

In [54]:
int.__add__(45,45)

90